@using Blazorise.Localization

<Bar @bind-Visible="@barVisible" Breakpoint="Breakpoint.Tablet" Background="Background.Transparent"
    ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <BarIcon Margin="Margin.Is2.FromEnd" IconName="IconName.Dashboard" />
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink Clicked="ToggleBar">Menu</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarLink To="https://github.com/bolst">GitHub</BarLink>
            </BarItem>
        </BarEnd>
    </BarMenu>
    <Button Display="Display.None.OnTablet.Block.OnMobile" Clicked="ToggleBar" Position="Position.Fixed.End">
        <Icon Name="IconName.Bars" />
    </Button>
</Bar>

@code {
    private bool barVisible = false;
    Task ToggleBar()
    {
        barVisible = !barVisible;
        return Task.CompletedTask;
    }

}